<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pilih Mode - Pancasila Cerdas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
       <img src="{{ url_for('static', filename='img/awan.png') }}" alt="cloud" class="ix-cloud small">
        <img src="{{ url_for('static', filename='img/awan2.png') }}" alt="cloud" class="ix-cloud large">
        <img src="{{ url_for('static', filename='img/awan.png') }}" alt="cloud" class="ix-cloud small">
        <img src="{{ url_for('static', filename='img/awan2.png') }}" alt="cloud" class="ix-cloud large">
        <img src="{{ url_for('static', filename='img/awan.png') }}" alt="cloud" class="ix-cloud small">
        <img src="{{ url_for('static', filename='img/awan.png') }}" alt="cloud" class="ix-cloud small">
        <img src="{{ url_for('static', filename='img/awan.png') }}" alt="cloud" class="ix-cloud small">
        <img src="{{ url_for('static', filename='img/awan.png') }}" alt="cloud" class="ix-cloud small">

        <div class="page-wrapper">
    <div class="container">
        <h1>Selamat Datang, {{ current_user.username }}!</h1>
        <p>Silakan pilih mode permainan yang ingin kamu mainkan.</p>
        <br><br>

        <div class="mode-selection-container">
            <!-- Story Mode Button -->
            <a href="{{ url_for('prologue') }}" class="mode-button">
                <img src="{{ url_for('static', filename='img/story_mode.png') }}" alt="Story Mode" class="mode-image">
            </a>

            <!-- Endless Mode Button -->
            <a href="{{ url_for('start_quiz') }}" class="mode-button">
                <img src="{{ url_for('static', filename='img/endless_mode.png') }}" alt="Endless Mode" class="mode-image">
            </a>
        </div>

        <br><br><br><br><br>
        <a href="{{ url_for('logout') }}" class="btn" style="background-color: #c82333; margin-top: 30px;">Logout</a>
    </div>
    </div>
</body>
</html>
