<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Pancasila Cerdas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylelogin.css') }}">
</head>
<body>
    
    <div id="cloud-container">
        <img src="{{ url_for('static', filename='img/awan2.png') }}" class="pixel-cloud c1">
        <img src="{{ url_for('static', filename='img/awan.png') }}" class="pixel-cloud c2">
        <img src="{{ url_for('static', filename='img/awan.png') }}" class="pixel-cloud c3">
        <img src="{{ url_for('static', filename='img/awan2.png') }}" class="pixel-cloud c4">
    </div>

    <div class="page-wrapper" style="flex-direction: column;">
        
        <img src="{{ url_for('static', filename='img/pancasilacerdas.png') }}" alt="Pancasila Cerdas" class="judulpancasilaku">

        <div class="container-login container-index">
            
            <p style="margin-bottom: 20px; font-size: 1rem !important;">SIAP MENGUJI PENGETAHUANMU?</p>

            <div class="index-btn-group">
                <a href="{{ url_for('login') }}" class="ix-btn">
                    <img src="{{ url_for('static', filename='img/loginbutton.png') }}" alt="Login" class="ix-img" style="width: 200px;">
                </a>

                <a href="{{ url_for('register') }}" class="ix-btn">
                    <img src="{{ url_for('static', filename='img/registerbutton.png') }}" alt="Register" class="ix-img" style="width: 200px;">
                </a>
            </div>

        </div>
    </div>

</body>
</html>