<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Quiz!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- ☁️ Awan langsung tampil & langsung bergerak -->
    <img src="{{ url_for('static', filename='img/awan.png') }}" alt="cloud" class="ix-cloud small">
    <img src="{{ url_for('static', filename='img/awan2.png') }}" alt="cloud" class="ix-cloud large">
    <img src="{{ url_for('static', filename='img/awan.png') }}" alt="cloud" class="ix-cloud small">
    <img src="{{ url_for('static', filename='img/awan2.png') }}" alt="cloud" class="ix-cloud large">
    <img src="{{ url_for('static', filename='img/awan.png') }}" alt="cloud" class="ix-cloud small">
    <img src="{{ url_for('static', filename='img/awan.png') }}" alt="cloud" class="ix-cloud small">
    <img src="{{ url_for('static', filename='img/awan.png') }}" alt="cloud" class="ix-cloud small">
    <img src="{{ url_for('static', filename='img/awan.png') }}" alt="cloud" class="ix-cloud small">


    <img src="../static/img/pancasilacerdas.png" alt="Pancasila Cerdas" class="judulpancasilaku">
    <!-- 🌇 Box login & register -->
    <div class="ix-container">
        <a href="{{ url_for('login') }}" class="ix-btn">
            <img src="{{ url_for('static', filename='img/loginbutton.png') }}" alt="Login" class="ix-img">
        </a>

        <a href="{{ url_for('register') }}" class="ix-btn">
            <img src="{{ url_for('static', filename='img/registerbutton.png') }}" alt="Register" class="ix-img">
        </a>
    </div>
</body>
</html>
